@media screen and (max-width:800px) {

    /* 屏幕最大宽度为800px */
    /* !!如果在我们的屏幕上，最大宽度小于800px，则执行下面的样式 */
    body {
        background-color: yellow;
    }
}

#fullscreen {
    z-index: 10000000000000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    background-color: black;
    transition: background-image 1s ease;
}

#fullscreen div {
    /* width: 150px; */
    height: 30px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -75px;
    background-color: rgba(94, 76, 76, 0.3);
    color: white;
    font-size: 30px;
}


.header {
    /* 固定头部导航栏 */
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 107px;
    background-image: url(../images/bg.5368794.png);

    background-repeat: no-repeat;

}

.w {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    height: 99px;
    margin: auto;
    flex-wrap: nowrap;
}

/* 消除前置圆点 */
li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.logo {
    float: left;
    width: 210px;
    height: 99px;
    /* background-color: dodgerblue; */


}

.logo_img {
    max-width: 210.67px;
    max-height: 61px;
    margin-top: 19px;
}

.nav {
    /* float: left; */
    /* 为什么这个反倒不用float了 */
    margin-left: 72px;

}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 97px;
    width: 198px;
    line-height: 97px;

}





.index_2 {

    background-image: url(../images/index_2.c0bec23.png);

}

.index_2.active {
    background-image: url(../images/index_hover.7b5d8c6.png);

}

.index_2:hover {
    background-image: url(../images/index_hover.7b5d8c6.png);
}

.introduction_2 {

    background-image: url(../images/introduction_2.b97084d.png);
}

.introduction_2.active {
    background-image: url(../images/introduction_hover.c9a85dc.png);

}

.introduction_2:hover {
    background-image: url(../images/introduction_hover.c9a85dc.png);
}


.game_2 {

    background-image: url(../images/games_2.8980b3c.png);
}


.game_2.active {
    background-image: url(../images/games_hover.557e48c.png);

}

.game_2:hover {
    background-image: url(../images/games_hover.557e48c.png);
}

.join_2 {

    background-image: url(../images/join_2.a51bcdc.png);
}

.join_2.active {
    background-image: url(../images/join_hover.a667aef.png);

}

.join_2:hover {
    background-image: url(../images/join_hover.a667aef.png);
}

.tab-content {
    margin-top: 107px;
}

.tab-content .item {
    display: none;
}

.tab-content .item.active {
    display: block;
}

.button {
    cursor: pointer;
}

/* 首页横幅 */
.banner {
    position: relative;
    width: 100%;


}

.banner img {

    width: 100%;
    vertical-align: bottom;

}

.icon {

    position: absolute;
    top: 13%;
    left: 15%;
}

.icon img {
    width: 114px;
    height: 114px;
}

.game-introduction {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #fff;
    font-family: 宋体;
}

.game-introduction p {
    line-height: 180%;
    font-size: 14px;
}

.game-introduction h2 {
    font-size: 21px;
    font-weight: 700;
}

.game-name {
    position: absolute;
    top: 15%;
    left: 72%;
}


.game-name h2 {
    font-size: 21px;
    letter-spacing: 4px;
    color: #e83836;
    line-height: normal;
    font-weight: 700;
}

.game-name h3 {
    color: #e83836;
}

.link {
    position: absolute;
    top: 67%;
    left: 70%;
    color: #fff;
}



/* 设置左侧箭头 */
.prev {
    position: absolute;
    /* 垂直居中 */
    top: 50%;
    left: 10px;
    width: 239px;
    height: 84px;
    margin-top: -22px;
    text-decoration: none;



    background-image: url(../images/button-prev.png);


}

/* 设置右侧箭头 */
.next {

    position: absolute;
    /* 垂直居中 */
    top: 50%;
    right: 10px;
    width: 239px;
    height: 84px;
    margin-top: -22px;
    text-decoration: none;
    background-image: url(../images/button-next.png);
}

.bar {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 19.33px;
    /* background-color: #fff; */
    text-align: center;
}

.bar span {
    display: inline-block;
    width: 57px;
    height: 16px;
    background-image: url(../images/common-line.png);
    margin: auto 4px;
    cursor: pointer;



}

.bar .active-bar {
    background-image: url(../images/red-line.png);
}


.footer {
    width: 100%;
    height: 250px;
    background-image: url(../images/bg.c6b6dc8.png);
    background-color: #fff;

}

.w2 {
    width: 1200px;

    margin: auto;
    /* background-color: #17e317; */
}

.footer .w2 .footer-logo {
    float: left;
    width: 273px;
    height: 93px;
    margin-top: 65px;
}


.footer-logo-img {
    width: 257.08px;
    height: 74.4px;

}

.footer .w2 .footer-text {
    float: left;
    width: 777px;
    height: 213.33px;

    margin-top: 15px;
    margin-left: 60px;
}

.footer .w2 .footer-text .footer-text-top {

    margin-top: 20px;
}

.footer .w2 .footer-text .footer-text-top a {
    font-size: 17px;
    color: #fff;
    /* padding: 0 20px; */
    padding: 0 20px;
}

.footer .w2 .footer-text .footer-text-top a:first-child {
    padding-left: 0;
}

.footer .w2 .footer-text .footer-text-top .line {
    padding: 0 20px;
    color: #707070;
    font-weight: 100;
}

.footer .w2 .footer-text .footer-text-bottom {
    margin-top: 20px;
    color: #aaa;
}

.footer .w2 .footer-text .footer-text-bottom div {
    font-size: 14px;
    height: 25px;
}

.footer-text-bottom ul {
    padding: 0;
    margin: 0;
}

.footer .w2 .footer-text .footer-text-bottom div ul li {
    float: left;
    margin-right: 4px;
}

.footer .w2 .footer-text .footer-text-bottom a {
    color: #aaa;
    display: inline-block;
}

.footer .w2 .footer-text .footer-text-bottom div .safe {
    height: 25px;
    vertical-align: middle;
}

.intro_img {
    width: 100%;
}

.develop {
    display: flex;
    width: 100%;
    height: 450px;
    background-image: url(../images/intro/bg_timeline.f9cc46e.png);
    background-size: 100% 100%;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;

}

.develop .timeline {
    display: flex;
    width: 70%;


    padding: 15px;
    margin-top: 80px;
    flex-direction: column;
    justify-content: flex-start;
}

.develop .timeline .timeline_img_box {
    position: relative;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    height: 200px;

}

.develop .timeline .timeline_img_box .timeline_img {
    position: absolute;
    cursor: move;
    left: 0px;

}

.timeline-progress {
    display: flex;
    margin-top: 50px;

    justify-content: center;

}

/* 灰色托条 */
.timeline-progress .dragger {
    position: relative;
    margin-bottom: 20px;
    width: 400px;
    height: 7px;
    background-color: #b4b4b4;
}

/* 红色托条 */
.timeline-progress .dragger .dragger-red {
    position: absolute;
    left: 0;
    width: 200px;
    height: 7px;
    background-color: #f54343;
    overflow: hidden;
}

.timeline-text {
    text-align: center;
}

.environment {
    width: 100%;
    height: 1034px;
    text-align: center;

    background-image: url(../images/intro/bg_environment.6efedd6.png);
}

.environment-top img {

    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, .3));

    margin: 80px auto;
}


.environment-bottom {
    width: 100%;
    height: 100%;

}

.environment-img-container {
    width: 1140px;
    margin: auto;
}

.environment-bottom .row {

    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

}

.environment-bottom .row img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.relax {
    position: relative;
    flex: 3.5;

}

.serve {
    position: relative;
    flex: 1;
}

.fitness {
    position: relative;
    flex: 1;
}

.tea {
    position: relative;
    flex: 1.7;

}

.sleep {
    position: relative;
    flex: 1;
}

.row .pic-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 10%;
    top: 90%;
    color: #f8f9ff;
    font-size: 18px;
    transition: all .4s ease-in-out;

}

.row .pic-text span {
    background-color: #333;
    padding: 0 10px;
}

.preview-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* 设置优先级 */
    z-index: 100000;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.preview-container .big-img {
    object-fit: contain;
    width: 80%;
    height: 80%;
    margin-bottom: 50px;
}

.preview-close-button {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: fixed;
    right: -40px;
    top: -40px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    color: rgb(255, 255, 255, .8);
    text-align: center;
    cursor: pointer;
}

.preview-close-button span {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}


.preview-tab-box {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 55px;
    /* background-color: pink; */
}

.preview-tab-box .button-box {
    /* background-color: skyblue; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 98px;

    padding: 6px 3px;

}

.button-box li {
    color: white;
    margin-bottom: 5px;
    float: left;
    width: 30px;
    text-align: center;
    height: 30px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .15s;

}


.preview-container-bottom {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: yellow;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
}

.small-img-div {

    margin: auto;
    background-color: transparent;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.small-img-div li {
    cursor: pointer;

    opacity: .5;
    float: left;
    overflow: hidden;


}

.small-img-div img {
    /* width: 75px; */
    height: 50px;
    width: auto;
    width: 30px;
    object-fit: cover;


}

/* 图片的缩放动画 */
.zoom-content {
    animation-name: zoom;
    animation-duration: 0.3s;
}

/* 缩放动画 */
@keyframes zoom1 {
    from {
        transform: scale(0);
        /* 初始缩放为0 */
    }

    to {
        transform: scale(1);
        /* 缩放到1倍 */
    }
}

/* 缩放动画 */
@keyframes zoom2 {
    from {
        transform: scale(1);
        /* 缩放到1倍 */
    }

    to {
        transform: scale(0);
        /* 初始缩放为0 */
    }
}