.topnav {
    width: 100vw;
    height: 80px;
    background-color: #DD4646;
}

.w {
    width: 70vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .avatar {
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 15px;
}


.header-shade {
    height: 150px;
    width: 100vw;
    background-color: gray;
}

.tab {
    height: 52px;
    width: 100vw;
    background-color: white;
    box-shadow: rgba(74, 76, 93, 0.2) 0px 6px 24px;
}


.tab-w {
    width: 640px;
    height: inherit;
    text-align: left;
    margin: 0 auto;
    font-weight: bold;
}

.tab .avatar {
    height: 140px;
    width: 140px;

    position: relative;
    top: -122px;
    left: -180px;
    border-radius: 70px;
    background-color: rgb(0,
            102,
            255);
}

.tab .hello {
    position: relative;
    top: -240px;
    color: white;
    font-size: 30px;
}

.tab-w .tabnav {
    line-height: 52px;
    margin-right: 20px;
    font-size: 20px;
}

.tab-w .tabnav.active {
    border-bottom: 3px solid rgb(0,
            102,
            255);
}

.bodyinfo {
    height: 100%;
    width: 100vw;

    margin-top: 58px;

}

.bodymiddle {
    margin: 0 auto;
    width: 55vw;
    background-color: white;
    padding: 30px;
    box-shadow: rgba(74, 76, 93, 0.2) 0px 6px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bodymiddle-left {
    flex: 2;
    margin-right: 80px;
}

.basicinfo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(217, 215, 215);
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: flex-start;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.infobox .row .everybox {
    height: 40px;
    flex: 1;
    margin-right: 30px;

}

.infobox .row input,
.infobox .row select {
    width: 100%;
    padding-left: 8px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(217, 215, 215);
    box-sizing: border-box;
}


.savebtn {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(0,
            102,
            255);
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    color: white;
    line-height: 30px;
}



.bodymiddle-right {
    background-color: rgb(0,
            102,
            255);
    flex: 1;
    height: 100%;
    height: 50px;
}

.personalinfobtn {
    border: 2px solid white;
    position: relative;
    top: -280px;
    right: -690px;
    color: black;
    font-size: 20px;
    width: 100px;
    height: 30px;
    font-weight: normal;
    background-color: transparent;
    line-height: 30px;
    padding-left: 20px;

}