@media screen and (max-width:800px) {

    /* 屏幕最大宽度为800px */
    /* !!如果在我们的屏幕上，最大宽度小于800px，则执行下面的样式 */
    body {
        background-color: yellow;
    }
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.w {

    width: 1075px;

    margin: auto;
}

.header {
    height: 107px;
    background-image: url(images/bg.5368794.png);

    background-repeat: no-repeat;

}

/* 消除前置圆点 */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    float: left;
    width: 210.67px;
    height: 99px;
    /* background-color: dodgerblue; */


}

.logo_img {
    max-width: 210.67px;
    max-height: 61px;
    margin-top: 19px;
}

.nav {
    float: left;
    margin-left: 72.33px;

}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 98px;
    width: 198px;
    line-height: 98px;

}





.index_2 {

    background-image: url(images/index_2.c0bec23.png);

}

.index_2.active {
    background-image: url(images/index_hover.7b5d8c6.png);

}

.introduction_2 {

    background-image: url(images/introduction_2.b97084d.png);
}

.introduction_2.active {
    background-image: url(images/introduction_hover.c9a85dc.png);

}


.game_2 {

    background-image: url(images/games_2.8980b3c.png);
}

.join_2 {

    background-image: url(images/join_2.a51bcdc.png);
}

.game_2.active {
    background-image: url(images/games_hover.557e48c.png);

}

.join_2.active {
    background-image: url(images/join_hover.a667aef.png);

}

.tab-content .item {
    display: none;
}

.tab-content .item.active {
    display: block;
}

.button {
    cursor: pointer;
}

/* 首页横幅 */
.banner {
    position: relative;
    width: 100%;


}

.banner img {
    width: 100%;
    vertical-align: bottom;

}

.icon {

    position: absolute;
    top: 13%;
    left: 15%;
}

.icon img {
    width: 114px;
    height: 114px;
}

.game-introduction {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #fff;
    font-family: 宋体;
}

.game-introduction p {
    line-height: 180%;
}

.game-name {
    position: absolute;
    top: 15%;
    left: 72%;
}

.game-name h2 {
    letter-spacing: 4px;
    color: #e83836;
    line-height: normal;
    font-weight: 700;
}

.game-name h3 {
    color: #e83836;
}

.link {
    position: absolute;
    top: 67%;
    left: 70%;
    color: #fff;
}



/* 设置左侧箭头 */
.prev {
    position: absolute;
    /* 垂直居中 */
    top: 50%;
    left: 10px;
    width: 239px;
    height: 84px;
    margin-top: -22px;
    text-decoration: none;



    background-image: url(images/button-prev.png);


}

/* 设置右侧箭头 */
.next {

    position: absolute;
    /* 垂直居中 */
    top: 50%;
    right: 10px;
    width: 239px;
    height: 84px;
    margin-top: -22px;
    text-decoration: none;
    background-image: url(images/button-next.png);
}

.bar {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 19.33px;
    /* background-color: #fff; */
    text-align: center;
}

.bar span {
    display: inline-block;
    width: 57px;
    height: 16px;
    background-image: url(images/common-line.png);
    margin: auto 4px;
    cursor: pointer;



}

.bar .active {
    background-image: url(images/red-line.png);
}


.footer {
    width: 100%;
    height: 250px;
    background-image: url(images/bg.c6b6dc8.png);
    background-color: #fff;

}

.w2 {
    width: 1200px;

    margin: auto;
    /* background-color: #17e317; */
}

.footer .w2 .footer-logo {
    float: left;
    width: 273px;
    height: 93px;
    margin-top: 65px;
}


.footer-logo-img {
    width: 257.08px;
    height: 74.4px;

}

.footer .w2 .footer-text {
    float: left;
    width: 777px;
    height: 213.33px;

    margin-top: 15px;
    margin-left: 60px;
}

.footer .w2 .footer-text .footer-text-top {

    margin-top: 20px;
}

.footer .w2 .footer-text .footer-text-top a {
    font-size: 17px;
    color: #fff;
    /* padding: 0 20px; */
    padding: 0 20px 0 0;

}

.footer .w2 .footer-text .footer-text-top a .line {
    padding: 0 20px;
    color: #707070;
}

.footer .w2 .footer-text .footer-text-bottom {
    margin-top: 20px;
    color: #aaa;
}

.footer .w2 .footer-text .footer-text-bottom div {
    font-size: 14px;
    height: 25px;
}

.footer .w2 .footer-text .footer-text-bottom div ul li {
    float: left;
    margin-right: 4px;
}

.footer .w2 .footer-text .footer-text-bottom a {
    color: #aaa;
    display: inline-block;
}

.footer .w2 .footer-text .footer-text-bottom div .safe {
    height: 25px;
    vertical-align: middle;
}

.intro_img {
    width: 100%;
}

.develop {
    display: flex;
    width: 100%;
    height: 450px;
    background-image: url(images/intro/bg_timeline.f9cc46e.png);
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;

}

.develop .timeline {
    display: flex;
    width: 930px;

    background-color: yellow;
    padding: 15px;
    margin-top: 80px;
    justify-content: flex-start;
}

.develop .timeline .timeline_img {
    padding: 10px;

}

.timeline-progress {
    display: flex;
    margin-top: 40px;

    justify-content: center;

}

/* 灰色托条 */
.timeline-progress .dragger {
    margin-bottom: 20px;
    width: 400px;
    height: 7px;
    background-color: #b4b4b4;
}

/* 红色托条 */
.timeline-progress .dragger .dragger-red {
    height: 7px;
    background-color: #f54343;
}

.timeline-text {
    text-align: center;
}

.environment {
    width: 100%;
    height: 1034px;
    text-align: center;
    background-image: url(images/intro/bg_environment.6efedd6.png);
}

.environment-top img {
    margin: 80px auto;
}

.environment-bottom .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.environment-bottom .row div {
    height: 300px;
    overflow: hidden;
}

.environment-bottom .row div img {
    display: block;
    width: 100%;
    height: 100%;

}

.relax {
    position: relative;
}

.environment-bottom .row .row-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 10%;
    color: #fff;

}


.environment-bottom .row .row-text span {
    background-color: #333;
    padding: 0 10px;
}