@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z750pz');
  src:  url('fonts/icomoon.eot?z750pz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z750pz') format('truetype'),
    url('fonts/icomoon.woff?z750pz') format('woff'),
    url('fonts/icomoon.svg?z750pz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubbles4:before {
  content: "\e970";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-user:before {
  content: "\e971";
}
.icon-share:before {
  content: "\ea7d";
}
